/*
* Custom code goes here.
* A template should always ship with an empty custom.css
*/

/*HEADER*/
#wrapper {
  background-color: #fffdeb;
}

#header {
  background: #fffdeb;
}

#header .header-nav {
  background-color: #e4f2f1;
}

#header .header-top .position-static {
  text-align: center;
}

#header .header-top .position-static .top-menu {
  display: inline-block;
}

/*HOME*/
.featured-products .thumbnail-container {
  width: auto;
  text-align: center;
}

.featured-products .product-description {
  width: 100%;
}

.featured-products .highlighted-informations {
  width: 100%;
}

/*FOOTER*/
#footer {
  padding-top: 0;
}

.footer-container {
  margin-top: 0;
  background-color: #e4f2f1;
}
